@keyframes fadeIn {
    from {
        opacity: 0;
        font-size: 12vw;
    }
    to {
        opacity: 1;
        font-size: 10vw;
    }
}

html{
    scroll-behavior: smooth;
}

body{
    background-color:pink;
    margin: 0;
    padding: 0;
}

.text{
    font-family: "DynaPuff", serif;
    transform: scale(.6);
    font-weight: 700;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    background-color: transparent;
    border: none;
    transition-duration: .5s;
}

.text:hover{
    transform: scale(.75);
    transition-duration: .5s;
    cursor: pointer;
}

.page-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 99vh;
    margin: 0;
    padding: 0;
}